<div class="flex bg-slate-50 justify-center items-center h-screen w-screen">
    <div class="shadow-sm w-1/5 p-10 bg-white rounded-md">
        <h1 class="text-xl font-bold">
            Cambiar tu contraseña
        </h1>
        <p class="text-base mt-3 text-slate-900 font-medium">
            Contraseña Actual
        </p>
        <input type="password" name="password" class="w-full mb-2 border-gray-200 border shadow-sm p-2 rounded-md"
            placeholder="Contraseña actual" [(ngModel)]="currentPassword">
        <p class="text-base mt-3 text-slate-900 font-medium">
            Nueva Contraseña
        </p>
        <input type="password" name="password" class="w-full mb-2 border-gray-200 border shadow-sm p-2 rounded-md"
            placeholder="Nueva Contraseña" [(ngModel)]="newPassword">
        <button (click)="changePassword()" [disabled]="!currentPassword || !newPassword "
            class="w-full disabled:opacity-50 p-2 bg-slate-900 rounded-md text-white mt-2">
            Cambiar Contraseña
        </button>
    </div>
</div>
